<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AARP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Recruiter Box settings section-->
    <add key="phantomJsUserAgent" value="Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.84 Safari/537.36"/>
    <add key="recruiterBoxLogin" value="natalia.k@scopicsoftware.com"/>
    <add key="recruiterBoxPassword" value="pass123"/>
    <add key="recruiterBoxRoot" value="https://scopicsoftware.recruiterbox.com"/>
  </appSettings>
  <connectionStrings>
    <add name="DpScopicAARP" connectionString="Data Source=.;Initial Catalog=ScopicAARP; integrated security=True" providerName="System.Data.SqlClient" /> <!--Persist Security Info=True;User ID=sa;Password=Password123@;Pooling=False-->
    <add name="AARPDbContext" connectionString="metadata=res://*/DAL.AARPDbContext.csdl|res://*/DAL.AARPDbContext.ssdl|res://*/DAL.AARPDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ScopicAARP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.2.0" newVersion="3.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="internal@scopicsoftware.com">
        <network port="587" enableSsl="false" host="smtp.emailsrvr.com" userName="internal@scopicsoftware.com" password="Scopic99$$" />
        <!--<specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <AARP.Properties.Settings>
      <setting name="GreenHouse_APIToken" serializeAs="String">
        <value>84a0a1017ef5d00dd9e8cb252e6153de</value>
      </setting>
      <setting name="GreenHouseJobOpen" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="GreenHouseJobClosed" serializeAs="String">
        <value>closed</value>
      </setting>
      <setting name="GreenHouseActiveStatus" serializeAs="String">
        <value>active</value>
      </setting>
      <setting name="CustomField_PositionType" serializeAs="String">
        <value>position_type</value>
      </setting>
      <setting name="GreenHouse_HarvestAPIBaseAddess" serializeAs="String">
        <value>https://harvest.greenhouse.io/v1</value>
      </setting>
      <setting name="StageName_ApplicationReviewCV" serializeAs="String">
        <value>Application / CV review</value>
      </setting>
      <setting name="RecuringJob_UpdateApplicationStatus" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RecuringJob_SendEmailOfNewApplication" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RecuringJob_SendEmailOfRemindReview" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RecuringJob_SendEscalationEmailOfTimeOutApplication" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DataLifeTime" serializeAs="String">
        <value>01:00:00</value>
      </setting>
    </AARP.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>