<div class="dropdown" id="dropdown">
    <div class="input-group">
        <span class="input-group-btn search-icon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        <input type="text" id="txtSearchField" class="search-field" placeholder="Search Interviewers" />
    </div>
</div>
<table id="tableButtons">
    <tr>
        <td class="text-center">
            <button type="button" class="btn btn-primary" id="btnSearchInterview">Search</button>
            <button type="button" class="btn btn-danger" id="btnCompareInterview" style="display: none">Compare</button>
        </td>
    </tr>
</table>

