<div>
    <table cellpadding="5" cellspacing="0" border="0" class="feedback" width="100%">
        <tr>
            <td>
                <p class="bold">1. How general attitude of your interviewer?*</p>
                <input type="radio" disabled name="attitude" value="Positive" />Positive <br />
                <input type="radio" disabled name="attitude" value="Neutral"/>Neutral<br />
                <input type="radio" disabled name="attitude" value="Negative" />Negative
            </td>
            <td>
                <p class="bold">2. Did you have a test task?*</p>
                <input type="radio" disabled name="testtesk" value="yes" />Yes <br />
                <input type="radio" disabled name="testtesk" value="no"/>No
            </td>
            <td>
                <p class="bold">3. Rate your test task difficulty*</p>
                <input type="radio" disabled value="easy" name="TaskDifficultyLevel"  />Task was easy<br />
                <input type="radio" disabled value="medium" name="TaskDifficultyLevel" />Task was of medium difficulty<br />
                <input type="radio" disabled value="hard" name="TaskDifficultyLevel"  />Task was very hard/complex
            </td>
            <td>
                <p class="bold">4. How long did your interview take?*</p>
                <input type="radio" disabled name="lengthId" value="l1" />Under 30 minutes<br />
                <input type="radio" disabled name="lengthId" value="l2" />Between 45-60 minutes<br />
                <input type="radio" disabled name="lengthId" value="l3" />Over 60 minutes
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <textarea class="feedback-comment" rows="3" disabled placeholder="Interviewee\'s feedback" name="feedback"></textarea>
            </td>
        </tr>
    </table>
</div>
