<div class="general-performance col-md-6 col-xs-12">
    @Html.Partial("Interviews/_InterviewerPerformance", (InterviewerPerformanceViewModel)ViewBag.PerformanceInfo)
</div>
<div class="filter-block col-md-6 col-xs-12">
    @Html.Partial("Interviews/_Filter")
</div>
