
<div class="interviewer-info">
    <div class="row equal general-stats" id="general-stats">
        
    </div>
    <table id="interviews-table" class="display stretched default-header" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>
                    Interviewee
                </th>
                <th>
                    Feedback
                </th>
                <th>
                    Date of interview
                </th>
                <th>
                    Interview stage
                </th>
                <th>
                    Seniority
                </th>
                <th>
                    Technology
                </th>
                <th>
                    Status
                </th>
                <th>
                    Rating
                </th>
            </tr>
        </thead>
    </table>
</div>