<div class="interviews-report">
    <table id="reports-table" class="display stretched default-header" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>
                    Interviewee
                </th>
                <th>Email</th>

                <th>
                    Interviewer
                </th>
                <th>
                    Feedback status
                </th>
                <th>
                    Date of interview
                </th>
                <th>
                    Interview stage
                </th>
                <th>
                    Seniority
                </th>
                <th>
                    Link
                </th>
            </tr>
        </thead>
    </table>
</div>