@model IEnumerable<AARP.Models.EvaluationsViewModel>

@{
    Layout = "~/Views/Shared/_EvaluationsLayout.cshtml";
    ViewBag.Title = "Evaluations";
    var message = TempData["Message"] as AARP.Models.MessageViewModel;
}

@if (message != null)
{
    <div class='alert @(message.Type== AARP.Models.MessageType.Success?"alert-success":"alert-info") alert-dismissible fade in' role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>@message.Title !</strong> @message.Content
    </div>
}
