@{
    ViewBag.Title = "Feedback on Tech interview";
    Layout = null;
}

<h4>We appreciate your opinion</h4>
<h4>Your feedback on Tech interview</h4>

<p>
    Dear Candidate,
</p>
<p>
    Thank you for responding to survey question. 
</p>